<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
		version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4.0.xsd">
  <display-name>Archetype Created Web Application</display-name>
<welcome-file-list>
	<welcome-file>/CtrlProdutoListar</welcome-file>
	<welcome-file>CtrlProdutoListar</welcome-file>
</welcome-file-list>
<servlet>
	<servlet-name>Index</servlet-name>
	<display-name>Index</display-name>
	<description></description>
	<servlet-class>controle.Index</servlet-class>
</servlet>
	<servlet>
		<servlet-name>ConsultaCliente</servlet-name>
		<display-name>ConsultaCliente</display-name>
		<description></description>
		<servlet-class>controle.cliente.ConsultaCliente</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteEncaminharID</servlet-name>
		<display-name>CtrlClienteEncaminharID</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteEncaminharID</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteNovo</servlet-name>
		<display-name>CtrlClienteNovo</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteNovo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlLogConsultar</servlet-name>
		<display-name>CtrlLogConsultar</display-name>
		<description></description>
		<servlet-class>controle.CtrlLogConsultar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteSalvar</servlet-name>
		<display-name>CtrlClienteSalvar</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteSalvar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteAlterar</servlet-name>
		<display-name>CtrlClienteAlterar</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteAlterar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteAtualizar</servlet-name>
		<display-name>CtrlClienteAtualizar</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteAtualizar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteConsultar</servlet-name>
		<display-name>CtrlClienteConsultar</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteConsultar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteExcluir</servlet-name>
		<display-name>CtrlClienteExcluir</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteExcluir</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteCupom</servlet-name>
		<display-name>CtrlClienteCupom</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteCupom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoNovo</servlet-name>
		<display-name>CtrlProdutoNovo</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoNovo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoSalvar</servlet-name>
		<display-name>CtrlProdutoSalvar</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoSalvar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConsultaProduto</servlet-name>
		<display-name>ConsultaProduto</display-name>
		<description></description>
		<servlet-class>controle.produto.ConsultaProduto</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoConsultar</servlet-name>
		<display-name>CtrlProdutoConsultar</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoConsultar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoExcluir</servlet-name>
		<display-name>CtrlProdutoExcluir</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoExcluir</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoEncaminharID</servlet-name>
		<display-name>CtrlProdutoEncaminharID</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoEncaminharID</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoAlterar</servlet-name>
		<display-name>CtrlProdutoAlterar</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoAlterar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoAtualizar</servlet-name>
		<display-name>CtrlProdutoAtualizar</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoAtualizar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoListar</servlet-name>
		<display-name>CtrlProdutoListar</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoListar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlProdutoDetalhes</servlet-name>
		<display-name>CtrlProdutoDetalhes</display-name>
		<description></description>
		<servlet-class>controle.produto.CtrlProdutoDetalhes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlCompraTransacoes</servlet-name>
		<display-name>CtrlCompraTransacoes</display-name>
		<description></description>
		<servlet-class>controle.compra.CtrlCompraTransacoes</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlCompraAdicionarCarrinho</servlet-name>
		<display-name>CtrlCompraAdicionarCarrinho</display-name>
		<description></description>
		<servlet-class>controle.compra.CtrlCompraAdicionarCarrinho</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Fachada</servlet-name>
		<display-name>Fachada</display-name>
		<description></description>
		<servlet-class>controle.Fachada</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlCompraVisualizar</servlet-name>
		<display-name>CtrlCompraVisualizar</display-name>
		<description></description>
		<servlet-class>controle.compra.CtrlCompraVisualizar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlCompraFinalizar</servlet-name>
		<display-name>CtrlCompraFinalizar</display-name>
		<description></description>
		<servlet-class>controle.compra.CtrlCompraFinalizar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlCompraAtualizarCarrinho</servlet-name>
		<display-name>CtrlCompraAtualizarCarrinho</display-name>
		<description></description>
		<servlet-class>controle.compra.CtrlCompraAtualizarCarrinho</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlCompraPedidosDeTroca</servlet-name>
		<display-name>CtrlCompraPedidosDeTroca</display-name>
		<description></description>
		<servlet-class>controle.compra.CtrlCompraPedidosDeTroca</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlCompraTroca</servlet-name>
		<display-name>CtrlCompraTroca</display-name>
		<description></description>
		<servlet-class>controle.compra.CtrlCompraTroca</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteNovoEndEnt</servlet-name>
		<display-name>CtrlClienteNovoEndEnt</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteNovoEndEnt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlClienteNovoCartao</servlet-name>
		<display-name>CtrlClienteNovoCartao</display-name>
		<description></description>
		<servlet-class>controle.cliente.CtrlClienteNovoCartao</servlet-class>
	</servlet>
	<listener>
		<listener-class>utils.QuartzListener</listener-class>
	</listener>
	<servlet-mapping>
		<servlet-name>CtrlClienteCupom</servlet-name>
		<url-pattern>/CtrlClienteCupom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteNovoCartao</servlet-name>
		<url-pattern>/CtrlClienteNovoCartao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteNovoEndEnt</servlet-name>
		<url-pattern>/CtrlClienteNovoEndEnt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlCompraFinalizar</servlet-name>
		<url-pattern>/CtrlCompraFinalizar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlCompraPedidosDeTroca</servlet-name>
		<url-pattern>/CtrlCompraPedidosDeTroca</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlCompraTroca</servlet-name>
		<url-pattern>/CtrlCompraTroca</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlCompraTransacoes</servlet-name>
		<url-pattern>/CtrlCompraTransacoes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlCompraAtualizarCarrinho</servlet-name>
		<url-pattern>/CtrlCompraAtualizarCarrinho</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlCompraAdicionarCarrinho</servlet-name>
		<url-pattern>/CtrlCompraAdicionarCarrinho</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlCompraVisualizar</servlet-name>
		<url-pattern>/CtrlCompraVisualizar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoDetalhes</servlet-name>
		<url-pattern>/CtrlProdutoDetalhes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoListar</servlet-name>
		<url-pattern>/CtrlProdutoListar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoAtualizar</servlet-name>
		<url-pattern>/CtrlProdutoAtualizar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoAlterar</servlet-name>
		<url-pattern>/CtrlProdutoAlterar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoEncaminharID</servlet-name>
		<url-pattern>/CtrlProdutoEncaminharID</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoExcluir</servlet-name>
		<url-pattern>/CtrlProdutoExcluir</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoConsultar</servlet-name>
		<url-pattern>/CtrlProdutoConsultar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Fachada</servlet-name>
		<url-pattern>/Fachada</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaProduto</servlet-name>
		<url-pattern>/ConsultaProduto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoSalvar</servlet-name>
		<url-pattern>/CtrlProdutoSalvar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlProdutoNovo</servlet-name>
		<url-pattern>/CtrlProdutoNovo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteEncaminharID</servlet-name>
		<url-pattern>/CtrlClienteEncaminharID</url-pattern>
	</servlet-mapping>
<servlet-mapping>
	<servlet-name>Index</servlet-name>
	<url-pattern>/Index</url-pattern>
</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaCliente</servlet-name>
		<url-pattern>/ConsultaCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlLogConsultar</servlet-name>
		<url-pattern>/CtrlLogConsultar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteNovo</servlet-name>
		<url-pattern>/CtrlClienteNovo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteSalvar</servlet-name>
		<url-pattern>/CtrlClienteSalvar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteAlterar</servlet-name>
		<url-pattern>/CtrlClienteAlterar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteAtualizar</servlet-name>
		<url-pattern>/CtrlClienteAtualizar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteConsultar</servlet-name>
		<url-pattern>/CtrlClienteConsultar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlClienteExcluir</servlet-name>
		<url-pattern>/CtrlClienteExcluir</url-pattern>
	</servlet-mapping>
</web-app>
